#board table {
	border-collapse: collapse;
	border: 1px solid #000;
}

#board.active td {
	cursor: pointer;
}

#board table td.highlighted {
	color: #000;
	background-color: #fff;
}

#board.active table td:hover {
	background-color: #ddd;
}

#board table td {
	border: 1px solid #888; 
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	padding: 0;
	margin: 0;
	font-size: 23px;
	font-weight: bold;
	/*font-family: monospace;*/
	overflow: hidden;
	color: #555;
	background-color: white;
	cursor: normal;
}

#messageBox {
	color: green;
}

