#header {
  width: 600px;
  margin-left: auto;
  margin-right: auto; }

#krt .menu {
  width: 600px;
  margin: 0 auto;
  color: #333;
  text-align: left; }
  #krt .menu * {
    margin: 0;
    padding: 0; }
  #krt .menu input, #krt .menu select {
    font-family: inherit;
    font-size: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #krt .menu input[type="number"], #krt .menu input[type="text"] {
    padding: 1px; }
  #krt .menu input[type="button"] {
    padding: 2px 10px; }
  #krt .menu select {
    padding: 2px 6px; }
  #krt .menu p {
    margin: 9px 12px;
    padding: 0; }
  #krt .menu .config .left, #krt .menu .config .right {
    width: 290px; }
  #krt .menu .config .left {
    float: left; }
  #krt .menu .config .right {
    margin-left: 309px; }
    #krt .menu .config .right:after {
      content: ".";
      display: block;
      visibility: hidden;
      height: 0;
      width: 0;
      clear: both; }
  #krt .menu .config input[type="number"], #krt .menu .config input[type="text"] {
    margin-left: 10px;
    width: 100px; }
  #krt .menu .config input[type="checkbox"] {
    margin-left: 10px;
    width: 20px; }
  #krt .menu .config label > span {
    width: 150px;
    display: inline-block; }
  #krt .menu .config label {
    display: inline-block; }
  #krt .menu fieldset {
    border: 1px solid #bbb;
    width: 100%; }
    #krt .menu fieldset legend {
      margin-left: 8px;
      padding: 2px 5px;
      background-color: #ccc;
      font-weight: bold; }
  #krt .menu fieldset.mode {
    float: left; }
    #krt .menu fieldset.mode input[name="mode"] {
      display: inline-block;
      width: 20px; }
    #krt .menu fieldset.mode label {
      width: 150px; }
    #krt .menu fieldset.mode label > span {
      width: 110px; }
  #krt .menu fieldset.players .controls input[type="button"] {
    margin-top: 5px;
    margin-bottom: 5px; }
    #krt .menu fieldset.players .controls input[type="button"][name="add-player"] {
      margin-left: 12px; }
    #krt .menu fieldset.players .controls input[type="button"][name="remove-player"] {
      margin-left: 15px; }
  #krt .menu fieldset.players ul.players-list > li {
    margin-top: 12px;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #ddd; }
    #krt .menu fieldset.players ul.players-list > li label > span {
      display: inline-block;
      width: 60px; }
    #krt .menu fieldset.players ul.players-list > li input[name|="name"] {
      width: 180px; }
    #krt .menu fieldset.players ul.players-list > li select[name|="color"] {
      width: 100px; }
  #krt .menu fieldset.players ul.keys {
    margin: 3px 18px; }
    #krt .menu fieldset.players ul.keys > li {
      float: left;
      width: 90px;
      text-align: center; }
      #krt .menu fieldset.players ul.keys > li label > span {
        display: block;
        margin: 3px auto;
        font-size: 0.8em; }
      #krt .menu fieldset.players ul.keys > li input[name|="key"] {
        display: block;
        margin: 4px auto;
        padding: 2px 0;
        width: 80px; }
    #krt .menu fieldset.players ul.keys:after {
      content: ".";
      clear: both;
      height: 0;
      display: block;
      visibility: hidden; }
  #krt .menu fieldset.start {
    border-style: none;
    margin: 3px auto; }
    #krt .menu fieldset.start input[name="start-button"] {
      display: block;
      width: 150px;
      height: 35px;
      font-size: 1.3em;
      margin: 5px 0px 0px 80px;
      float: left; }
    #krt .menu fieldset.start input[name="reset-button"], #krt .menu fieldset.start input[name="credits-button"] {
      display: block;
      margin-top: 10px;
      margin-left: 50px;
      width: 100px;
      height: 25px;
      font-size: 0.8em;
      float: left; }
  #krt .menu .dialog {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px; }
    #krt .menu .dialog .select-key {
      background-color: #eee;
      width: 200px;
      height: 120px;
      margin: 200px auto;
      opacity: 0.8; }
      #krt .menu .dialog .select-key p {
        text-align: center;
        margin: 20px; }

#krt .game * {
  margin: 0;
  padding: 0; }
#krt .game .box {
  position: fixed;
  left: 0;
  right: 0;
  width: 300px;
  padding: 30px;
  margin: 100px auto;
  font-family: monospace;
  font-size: 14px;
  background-color: #ffffff;
  opacity: 0.9; }
  #krt .game .box .controls input[type="button"] {
    padding: 3px 10px; }
  #krt .game .box .results table {
    margin-bottom: 10px;
    width: 300px;
    background-color: #eeeeee;
    border-collapse: collapse; }
    #krt .game .box .results table caption {
      font-weight: bold;
      margin: 5px 30px; }
    #krt .game .box .results table th {
      font-weight: bold;
      background-color: #dddddd; }
    #krt .game .box .results table th, #krt .game .box .results table td {
      padding: 2px 12px 2px 8px; }
      #krt .game .box .results table th.minus, #krt .game .box .results table th.plus, #krt .game .box .results table th.equals, #krt .game .box .results table td.minus, #krt .game .box .results table td.plus, #krt .game .box .results table td.equals {
        width: 30px;
        text-align: right;
        background-color: #dddddd; }
      #krt .game .box .results table th.pos, #krt .game .box .results table td.pos {
        color: #52b721;
        background-color: #b8dea5; }
      #krt .game .box .results table th.neg, #krt .game .box .results table td.neg {
        color: #e12837;
        background-color: #dea4a9; }

#krt .loading .info {
  color: #555;
  width: 200px;
  font-size: 14px;
  margin: 30px auto 0px;
  text-align: justify; }
  #krt .loading .info p {
    margin-top: 10px; }
#krt .loading .spinner {
  font-family: monospace;
  font-size: 100px;
  font-weight: bold;
  color: #444;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px; }
#krt .loading .bits {
  margin: 0px auto 60px;
  width: 100px;
  font-size: 12px;
  color: #666; }
  #krt .loading .bits span {
    display: block;
    float: left; }
  #krt .loading .bits:after {
    content: ".";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block; }

#krt .credits {
  width: 400px;
  margin: 20px auto;
  background-color: #fff;
  color: #000;
  padding: 50px;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0; }
  #krt .credits a {
    color: #000; }
    #krt .credits a:hover {
      color: #333; }
  #krt .credits p, #krt .credits ul {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    text-align: center; }
  #krt .credits li {
    margin-bottom: 8px; }
  #krt .credits .controls input[name="return"] {
    width: 80px; }

#krt {
  position: relative; }
