---
---

#page {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 2em;
}

#menu {
  line-height: 1.8em;

  li {
    display: block;
    float: left;

    a {
      display: block;
      padding: 0.3em 0.6em;
    }
  }
}

#header {
  padding: 0.4em;
  line-height: 2em;
  height: 2em;

  h1 {
    display: inline;
    font-size: 1.6em;
  }

  #site_name {
    font-size: 1.4em;
  }
}

#content {
  padding: 0.5em 1.2em;

  h2 {
    padding-top: 1.1em;
  }

  p {
    text-align: justify;
    padding-top: 0.8em;
  }
}

#footer {
  height: 1.8em;
  line-height: 1.8em;
  padding: 0.4em 0.6em;

  #tools {
    font-size: 0.7em;
  }
}

.clear {
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
}
