body {
  font-family: sans-serif; }

#menu a {
  text-decoration: none; }

button {
  padding: 0.3em 0.6em;
  margin: 0.4em; }

html.yellow body {
  color: #746410;
  background-color: #ead566; }
html.yellow #page {
  background-color: #f6edc0; }
html.yellow #menu {
  background-color: #eddb7c; }
html.yellow #footer {
  background-color: #eddb7c; }
html.yellow a {
  color: #a18a16; }
  html.yellow a:hover, html.yellow a:focus {
    color: #b89e19; }

#menu a.yellow {
  color: #8b7713;
  background-color: #f6edc0; }
  #menu a.yellow:active, #menu a.yellow:focus {
    background-color: #ead566; }

html.orange body {
  color: #744010;
  background-color: #eaa666; }
html.orange #page {
  background-color: #f6dac0; }
html.orange #menu {
  background-color: #edb37c; }
html.orange #footer {
  background-color: #edb37c; }
html.orange a {
  color: #a15916; }
  html.orange a:hover, html.orange a:focus {
    color: #b86619; }

#menu a.orange {
  color: #8b4d13;
  background-color: #f6dac0; }
  #menu a.orange:active, #menu a.orange:focus {
    background-color: #eaa666; }

html.light-blue body {
  color: #104c74;
  background-color: #66b5ea; }
html.light-blue #page {
  background-color: #c0e1f6; }
html.light-blue #menu {
  background-color: #7cc0ed; }
html.light-blue #footer {
  background-color: #7cc0ed; }
html.light-blue a {
  color: #166aa1; }
  html.light-blue a:hover, html.light-blue a:focus {
    color: #1978b8; }

#menu a.light-blue {
  color: #135b8b;
  background-color: #c0e1f6; }
  #menu a.light-blue:active, #menu a.light-blue:focus {
    background-color: #66b5ea; }

html.red body {
  color: #741710;
  background-color: #ea6f66; }
html.red #page {
  background-color: #f6c3c0; }
html.red #menu {
  background-color: #ed847c; }
html.red #footer {
  background-color: #ed847c; }
html.red a {
  color: #a11f16; }
  html.red a:hover, html.red a:focus {
    color: #b82419; }

#menu a.red {
  color: #8b1b13;
  background-color: #f6c3c0; }
  #menu a.red:active, #menu a.red:focus {
    background-color: #ea6f66; }

html.sea-green body {
  color: #153e27;
  background-color: #57c889; }
html.sea-green #page {
  background-color: #a4e1bf; }
html.sea-green #menu {
  background-color: #6bce96; }
html.sea-green #footer {
  background-color: #6bce96; }
html.sea-green a {
  color: #21653f; }
  html.sea-green a:hover, html.sea-green a:focus {
    color: #28784b; }

#menu a.sea-green {
  color: #1b5233;
  background-color: #a4e1bf; }
  #menu a.sea-green:active, #menu a.sea-green:focus {
    background-color: #57c889; }

html.cyan body {
  color: #107462;
  background-color: #66ead2; }
html.cyan #page {
  background-color: #c0f6ed; }
html.cyan #menu {
  background-color: #7cedd9; }
html.cyan #footer {
  background-color: #7cedd9; }
html.cyan a {
  color: #16a188; }
  html.cyan a:hover, html.cyan a:focus {
    color: #19b89b; }

#menu a.cyan {
  color: #138b75;
  background-color: #c0f6ed; }
  #menu a.cyan:active, #menu a.cyan:focus {
    background-color: #66ead2; }

html.green body {
  color: #295a19;
  background-color: #85d669; }
html.green #page {
  background-color: #c6ecb9; }
html.green #menu {
  background-color: #95db7d; }
html.green #footer {
  background-color: #95db7d; }
html.green a {
  color: #3c8224; }
  html.green a:hover, html.green a:focus {
    color: #459629; }

#menu a.green {
  color: #336e1e;
  background-color: #c6ecb9; }
  #menu a.green:active, #menu a.green:focus {
    background-color: #85d669; }

html.purple body {
  color: #3b166f;
  background-color: #9f6fe2; }
html.purple #page {
  background-color: #d7c4f3; }
html.purple #menu {
  background-color: #ad84e7; }
html.purple #footer {
  background-color: #ad84e7; }
html.purple a {
  color: #511f99; }
  html.purple a:hover, html.purple a:focus {
    color: #5d23af; }

#menu a.purple {
  color: #461a84;
  background-color: #d7c4f3; }
  #menu a.purple:active, #menu a.purple:focus {
    background-color: #9f6fe2; }

html.navy body {
  color: #151074;
  background-color: #6d66ea; }
html.navy #page {
  background-color: #c2c0f6; }
html.navy #menu {
  background-color: #827ced; }
html.navy #footer {
  background-color: #827ced; }
html.navy a {
  color: #1d16a1; }
  html.navy a:hover, html.navy a:focus {
    color: #2119b8; }

#menu a.navy {
  color: #19138b;
  background-color: #c2c0f6; }
  #menu a.navy:active, #menu a.navy:focus {
    background-color: #6d66ea; }

html.gray body {
  color: #333333;
  background-color: #999999; }
html.gray #page {
  background-color: #cccccc; }
html.gray #menu {
  background-color: #a6a6a6; }
html.gray #footer {
  background-color: #a6a6a6; }
html.gray a {
  color: #4d4d4d; }
  html.gray a:hover, html.gray a:focus {
    color: #595959; }

#menu a.gray {
  color: #404040;
  background-color: #cccccc; }
  #menu a.gray:active, #menu a.gray:focus {
    background-color: #999999; }
