body {
  font-family: sans-serif;
}

#menu {
  a {
    text-decoration: none;
  }
}

button {
  padding: 0.3em 0.6em;
  margin: 0.4em;
}

@mixin color-style($name, $color) {
  html.#{$name} {
    body {
      color: darken($color, 20%);
      background-color: lighten($color, 20%);
    }

    #page {
      background-color: lighten($color, 40%);
    }

    #header #site_name {
      color: darken($color, 5%);
    }

    #menu {
      background-color: lighten($color, 25%);
    }

    #footer {
      background-color: lighten($color, 25%);
    }

    a {
      color: darken($color, 10%);

      &:hover, &:focus {
        color: darken($color, 5%);
      }
    }
  }

  #menu a.#{$name} {
    color: darken($color, 15%);
    background-color: lighten($color, 40%);

    &:active, &:focus {
      background-color: lighten($color, 20%);
    }
  }
}

@include color-style("yellow", #ceb11c);
@include color-style("orange", #ce721c);
@include color-style("light-blue", #1c87ce);
@include color-style("red", #ce281c);
@include color-style("sea-green", #2e8b57);
@include color-style("cyan", #1cceae);
@include color-style("green", #4eaa2f);
@include color-style("purple", #6827c4);
@include color-style("navy",  #251cce);
@include color-style("gray", #666666);
