---
colors: 
  yellow: "#CEB11C"
  orange: "#CE721C"
  light_blue: "#1C87CE"
  red: "#CE281C"
  sea_green: "#2E8B57"
  cyan: "#1CCEAE"
  green: "#4eaa2f"
  purple: "#6827c4"
  navy:  "#251CCE"
---

body {
  font-family: sans-serif;
}

#menu {
  a {
    text-decoration: none;
  }
}

button {
  padding: 0.3em 0.6em;
  margin: 0.4em;
}

@mixin colored_html($basic) {
  body {
    color: darken($basic, 20%);
    background-color: lighten($basic, 20%);
  }

  #page {
    background-color: lighten($basic, 40%);
  }

  #header #site_name {
    color: darken($basic, 5%);
  }

  #menu {
    background-color: lighten($basic, 25%);
  }

  #footer {
    background-color: lighten($basic, 25%);
  }

  a {
    color: darken($basic, 10%);

    &:hover, &:focus {
      color: darken($basic, 5%);
    }
  }
}

@mixin colored_menu_item($basic) {
  color: darken($basic, 15%);
  background-color: lighten($basic, 40%);

  &:active, &:focus {
    background-color: lighten($basic, 20%);
  }
}


{% for color in page.colors %}
  {% assign color_name = color[0] %}
  {% assign color_value = color[1] %}

  /* {{ color_name }} {{ color_value }} */

  html.{{color_name}} { @include colored_html({{color_value}}); }
  #menu a.{{color_name}} { @include colored_menu_item({{color_value}}); }
{% endfor %}
