$page-width: 420px;

* {
  margin: 0;
  padding: 0;
}

@mixin clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

body {
  font-family: "Exo 2", "Verdana", sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #000; 
}

a {
  text-decoration: underline;
  color: #000;
  &:hover { color: #333; }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 200;
  text-align: center;
  margin-top: 1.2em;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: 1.7em - 0.2em * $i; 
  }
}

#main-header {
  margin: 5px auto 0;
  width: $page-width;

  .main-title, .sub-title {
    text-align: left;
    font-size: 20px;
    margin-top: 0;
    height: 36px;
    line-height: 36px;
    float: left;
    min-width: 120px;
  }

  .main-menu, .sub-menu {
    list-style-type: none;

    a {
      font-size: 16px;
      line-height: 36px;
      float: left;
      text-align: center;
      text-decoration: none;
      font-weight: 200;
      margin-left: 20px;
      margin-top: 2.2px;
    }

    @include clearfix;
  }

  .main-title, .main-menu a {
    color: #777;
  }

  .main-menu a:hover {
    color: #aaa;
  }
}

#content {
  margin: 5px auto 0;
  width: $page-width;
  text-align: justify;
  color: #000;

  h1,h2,h3,h4,h5,h6, p, ul,ol,li  {
    margin-bottom: 0.35em;
  }

  ul>li {
    list-style-type: none;
    margin-left: 1.0em;
  }

  ul>li:before {
    content: "–";
    position: absolute;
    margin-left: -1.0em;
  }

  li {
    h1,h2,h3,h4,h5,h6 {
      text-align: left;
    }
  }

  .crossroad {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 200;

    &>li {
      float: left;
      margin-left: 0;
    }
    &>li:before {
      content: "|";
      margin-right: 1em;
      margin-left: 1em;
      position: static;
    }
    &>li:first-child:before {
      display: none;
    }

    @include clearfix;
  }

  .gallery {
    .item {
      width: 200px;
      margin: 5px;
      float: left;
    }

    .row { @include clearfix; }
  }
}

#footer {
  width: $page-width;
  margin: 30px auto 40px;
  font-style: italic;
  font-size: 0.8em;
  text-align: right;

  &, a { color: #555 }
}

.home {
  h2 {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 150px;
    color: #555;
  }
}
