@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Exo 2", "Verdana", sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #000; }

a {
  text-decoration: underline;
  color: #000; }
  a:hover {
    color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  text-align: center;
  margin-top: 1.2em; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.1em; }

h4 {
  font-size: 0.9em; }

h5 {
  font-size: 0.7em; }

h6 {
  font-size: 0.5em; }

#header {
  margin: 5px auto 0;
  width: 420px; }
  #header h1 {
    text-align: left;
    font-size: 20px;
    margin-top: 0;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    min-width: 120px; }
  #header ul {
    list-style-type: none;
    display: inline-block; }
    #header ul li {
      display: inline-block; }
    #header ul a {
      font-size: 16px;
      line-height: 36px;
      display: block;
      text-decoration: none;
      font-weight: 200;
      margin-left: 20px;
      margin-top: 2.2px; }
  #header a {
    color: #777; }
  #header a:hover {
    color: #aaa; }

#content {
  margin: 5px auto 0;
  width: 420px;
  text-align: justify;
  color: #000; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content p, #content ul, #content ol, #content li {
    margin-bottom: 0.35em; }
  #content ul > li {
    list-style-type: none;
    margin-left: 1.0em; }
  #content ul > li:before {
    content: "–";
    position: absolute;
    margin-left: -1.0em; }
  #content li h1, #content li h2, #content li h3, #content li h4, #content li h5, #content li h6 {
    text-align: left; }
  #content .crossroad {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 200; }
    #content .crossroad > li {
      display: inline-block;
      margin-left: 0; }
    #content .crossroad > li:before {
      content: "—";
      margin-right: 0.6em;
      margin-left: 0.6em;
      position: static; }
    #content .crossroad > li:first-child:before {
      display: none; }
  #content .gallery .item {
    width: 200px;
    margin: 4px;
    display: inline-block;
    vertical-align: top; }

#footer {
  width: 420px;
  margin: 30px auto 40px;
  font-style: italic;
  font-size: 0.8em;
  text-align: right; }
  #footer, #footer a {
    color: #555555; }

.home h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 150px;
  color: #555; }
