    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Exo+2:300,200,300italic&subset=latin,latin-ext'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/main.css">
    {% if page.stylesheet %}
    <link rel="stylesheet" href="{{ page.stylesheet }}">
    {% endif %}
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Jan Špaček</title>
