$page-width: 210mm;
$page-margin: 5mm;

body {
  font-size: 12pt;
  font-family: "Exo 2", "Verdana", sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #000; 
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

#page {
  width: $page-width - 2*$page-margin;
  margin: $page-margin auto;

  dl.contacts {
    dt {
      margin-right: 5mm;
      float: left; 
      min-width: 4em;
    }
  }

  main {
    display: -webkit-flex;
    display: flex;
  }

  .left-column, .right-column {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 50%;
  }

  .left-column {
    margin-right: 5mm;
  }

  .right-column {
    margin-left: 5mm;
  }

  h1,h2,h3 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    font-weight: 600;
  }

  h2 {
    font-size: 18pt;
  }

  dt {
    font-weight: 600;
  }

  dd {
    margin-left: 1em;
  }

  ul>li {
    list-style-type: none;
    margin-left: 1em;
    &:before {
      content: "—";
      position: absolute;
      margin-left: -1em;
    }
  }
}
