* {
	margin: 0;
	padding: 0;
}

#fishy {
	position: relative;
	cursor: default;
	background-color: #bfddff;
	font-family: sans-serif;
	color: #1d4d83;
}

#fishy canvas {
}

#fishy .menu {
	text-align: center;
}

#fishy h1 {
	padding-top: 0.8em;
	font-size: 1.6em;
}

#fishy .score {
	position: absolute;
	top: 0.3em;
	right: 0.3em;
	text-align: center;
}

#fishy .clickable {
	text-align: center;
	font-size: 1.4em;
	color: #2152c1;
	margin-top: 1em;
}

#fishy .clickable:hover {
	color: #082f88;
}
