body {
	font-family: 'Exo 2', sans-serif;
	font-size: 12px;
}

h1 {
	font-size: 1.4em;
	text-decoration: underline;
	font-weight: bold;
	margin-left: 2em;
}

.error {
	border: 1px solid #f00;
	background-color: #f66;
	padding: 0.3em;
	width: 400px;
}

.loading {
	border: 1px solid #00f;
	background-color: #aaf;
	padding: 0.3em;
	width: 200px;
	position: absolute;
	left: 5em;
	top: 5em;
	z-index: 5;
}

a {
  text-decoration: underline;
  color: #000;
}

a:focus, a:hover {
  text-decoration: none;
  color: #555;
}

.clear {
	visibility: hidden;
	clear: both;
}

#battlejs {
	position: relative;
}

/* controls.js */
.controls {
	z-index: 5;
	opacity: 0.8;
	color: #000;
	padding: 2%;
	width: 96%;
	position: relative;
}

.controls div div span {
	min-width: 2.5em;
	height: 30px;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

.controls div div.activeMissile span {
	min-width: 10em;
}

.controls .driving div span {
	text-align: right;
}

.controls .info div span {
	text-align: left;
}

.controls div div {
	height: 30px;
	line-height: 30px;
	float: left;
	margin-left: 15px;
}

.controls div div label {
	font-weight: bold;
}

.controls>div {
	padding-right: 20px;
	clear: both;
}

.controls input {
	padding: 0 0.5em;
	margin: 0 0.2em;
	opacity: 0.8;
}

.results {
	width: 30%;
	margin: 5em auto;
	padding: 0.5em;
	background-color: #ddd;
	position: absolute;
	left: 35%;
	right: 35%;
	z-index: 4;
}

.results table {
	width: 100%;
	border-collapse: collapse;
	background-color: #ccc;
	border: 1em solid #ccc;
	margin-top: 0.3em;
}

.results button {
	margin-top: 0.5em;
	margin-left: 2em;
}

.results td {
	padding: 0.1em 0.3em;
	opacity: 0.8;
}

.results th {
	font-weight: bold;
	text-align: left;
	padding-left: 1em;
}

/* menu.js */
.menu {
	width: 77%;
	margin: 1em 10%;
	background-color: #ccc;
	padding: 1.5%;
}

.menu input {
	margin: 0.2em;
}

.menu .player {
	height: 2em;
	line-height: 2em;
}

.menu .run {
	padding: 0.15em 0.4em;
}

.menu .color input {
	margin-right: 0.3em;
	margin-left: 0.5em;
}

/* canvas drawing styles */

.terrain {
	background-color: green;
}

.missile {
	color: black;
	width: 2.5px;
}

.cannon {
	color: #533;
	width: 2px;
}
