#particles {
  width: 800px;
  margin: 0 auto;
}

#particles canvas {
  border: 1px solid #ddd;
}

#particles .controls {
  width: 420px;
  margin: 10px auto;
}

#particles button {
  padding: 2px 4px;
  margin: 3px;
}
